Pallavi Mazumdar

## Install MySQL

In [ ]:
!apt update > /dev/null
!apt install -y  mysql-server > /dev/null
!/etc/init.d/mysql restart

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

 * Stopping MySQL database server mysqld
   ...done.
 * Starting MySQL database server mysqld
No directory, logging in with HOME=/
   ...done.

In [ ]:
!mysql -e 'create database praxisDB'
!mysql -e 'show databases'

ERROR 1007 (HY000) at line 1: Can't create database 'praxisDB'; database exists
+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| praxisDB           |
| sys                |
+--------------------+

## Create Tables

In [ ]:
!mysql praxisDB -e 'drop table if exists itemsordered'
# --------------------------------------------------------------
!mysql praxisDB -e '\
CREATE TABLE IF NOT EXISTS itemsordered (\
customerid char(5),orderdate date, item varchar(30), quantity int(4), price decimal(5,2)) \
'

In [ ]:
!mysql praxisDB -e 'desc itemsordered'

+------------+--------------+------+-----+---------+-------+
| Field      | Type         | Null | Key | Default | Extra |
+------------+--------------+------+-----+---------+-------+
| customerid | char(5)      | YES  |     | NULL    |       |
| orderdate  | date         | YES  |     | NULL    |       |
| item       | varchar(30)  | YES  |     | NULL    |       |
| quantity   | int(4)       | YES  |     | NULL    |       |
| price      | decimal(5,2) | YES  |     | NULL    |       |
+------------+--------------+------+-----+---------+-------+

In [ ]:
!mysql praxisDB -e 'drop table if exists customers'
# --------------------------------------------------------------
!mysql praxisDB -e '\
CREATE TABLE IF NOT EXISTS customers (customerid char(5),firstname varchar(20),lastname varchar(20), city varchar(20), state varchar(20)) \
'

In [ ]:
!mysql praxisDB -e 'desc customers'

+------------+-------------+------+-----+---------+-------+
| Field      | Type        | Null | Key | Default | Extra |
+------------+-------------+------+-----+---------+-------+
| customerid | char(5)     | YES  |     | NULL    |       |
| firstname  | varchar(20) | YES  |     | NULL    |       |
| lastname   | varchar(20) | YES  |     | NULL    |       |
| city       | varchar(20) | YES  |     | NULL    |       |
| state      | varchar(20) | YES  |     | NULL    |       |
+------------+-------------+------+-----+---------+-------+

## Load Tables

In [ ]:
# Download two CSV files from G-Drive into the Colab VM
#!gdown https://drive.google.com/uc?id=1WxuruueFwMTjmPb-DvvVnGYB78Ty4OkP
#!gdown https://drive.google.com/uc?id=1j49sqYHv0UoskVJDzNObWxECFF7ySsld

!gdown 1Ug15GbEmeTnwJnuH-4fpPeZ1k20ryoGx
!gdown 1qx6duSqzQUJSkpHNQIIZ9l0T6zYtjT-y

Downloading...
From: https://drive.google.com/uc?id=1Ug15GbEmeTnwJnuH-4fpPeZ1k20ryoGx
To: /content/OrdersSQL2.csv
100% 1.16k/1.16k [00:00<00:00, 1.96MB/s]
Downloading...
From: https://drive.google.com/uc?id=1qx6duSqzQUJSkpHNQIIZ9l0T6zYtjT-y
To: /content/CustomersSQL2.csv
100% 695/695 [00:00<00:00, 780kB/s]

In [ ]:
# upload the two CSV files into the Colab VM
!ls

CustomersSQL2.csv  OrdersSQL2.csv  sample_data

In [ ]:
#!head 'SQLCourse2 - ItemsOrdered.csv'
!head 'OrdersSQL2.csv'

customerid,order_date,item,quantity,price
10330,30-Jun-1999,Pogo stick,1,28
10101,30-Jun-1999,Raft,1,58
10298,01-Jul-1999,Skateboard,1,33
10101,01-Jul-1999,Life Vest,4,125
10299,06-Jul-1999,Parachute,1,1250
10339,27-Jul-1999,Umbrella,1,4.5
10449,13-Aug-1999,Unicycle,1,180.79
10439,14-Aug-1999,Ski Poles,2,25.5
10101,18-Aug-1999,Rain Coat,1,18.3

In [ ]:
!mysql praxisDB -e'select * from itemsordered'

In [ ]:
# Note first line, with header columns ignored
# Note date is converted from string to proper date format
#
!mysql praxisDB -e "   \
LOAD DATA LOCAL INFILE 'OrdersSQL2.csv' \
ignore \
INTO  TABLE itemsordered  \
FIELDS TERMINATED BY ',' enclosed by '\"' LINES TERMINATED BY '\r\n' IGNORE 1 LINES  \
(customerid,@orderdate, item, quantity, price) \
set orderdate = STR_TO_DATE(@orderdate,'%d-%b-%Y');\
"

In [ ]:
#!mysql praxisDB -e 'select * from itemsordered;'

In [ ]:
# Note first line, with header columns ignored
#
!mysql praxisDB -e "   \
LOAD DATA LOCAL INFILE 'CustomersSQL2.csv' INTO TABLE customers \
FIELDS TERMINATED BY ',' enclosed by '\"' LINES TERMINATED BY '\r\n'  IGNORE 1 LINES;  \
"

In [ ]:
#!mysql praxisDB -e 'select * from customers;'

#Using Remote Server

## Set Public Credentials

In [ ]:
# enter credentials here
#hostName = 'remotemysql.com'   # place your own credentials here
#userName = 'yourUserName'      # place your own credentials here
#passWord = 'yourPassWord'      # place your own credentials here
#dbName =  'yourDBname'         # place your own credentials here

#print(hostName,userName,dbName)

## Set Private Credentials

In [ ]:
#connect to G-Drive
from google.colab import drive
drive.mount('/content/drive')
# copy credentials file
#!ls /content/drive/'My Drive'/Praxis/WebCredentials
#!cp /content/drive/'My Drive'/Praxis/WebCredentials/sqlCredentials_020221.py .
!cp /content/drive/'My Drive'/Praxis/WebCredentials/cleverCloud.py credentials.py
from credentials import hostName,userName,passWord,dbName

#for the sake of privacy
#the following credentials need to be stored in a text file called sqlCredentials.py
#in the format given below
#in the Colab VM


print(hostName,userName,dbName)

MessageError: ignored

In [ ]:
#NOTE SECURITY WARNING
#Passing passwords in the command line is inherently risky and SHOULD NOT BE USED for any non-trivial work
#---------------------------------------------------------------------
!mysql -h '$hostName' -P 3306 -u '$userName' -p'$passWord' '$dbName' -e 'show tables'

## Create Tables

In [ ]:
#NOTE SECURITY WARNING
#Passing passwords in the command line is inherently risky and SHOULD NOT BE USED for any non-trivial work
#---------------------------------------------------------------------
!mysql -h '$hostName' -P 3306 -u '$userName' -p'$passWord' '$dbName' -e 'drop table if exists customers'
# --------------------------------------------------------------
!mysql -h '$hostName' -P 3306 -u '$userName' -p'$passWord' '$dbName' -e '\
CREATE TABLE IF NOT EXISTS customers (\
customerid char(5),firstname varchar(20),lastname varchar(20), city varchar(20), state varchar(20)) \
'

mysql: [Warning] Using a password on the command line interface can be insecure.
ERROR 2005 (HY000): Unknown MySQL server host '$hostName' (0)
mysql: [Warning] Using a password on the command line interface can be insecure.
ERROR 2005 (HY000): Unknown MySQL server host '$hostName' (0)

In [ ]:
#NOTE SECURITY WARNING
#Passing passwords in the command line is inherently risky and SHOULD NOT BE USED for any non-trivial work
#---------------------------------------------------------------------
!mysql -h '$hostName' -P 3306 -u '$userName' -p'$passWord' '$dbName' -e 'drop table if exists itemsordered'
# --------------------------------------------------------------
!mysql -h '$hostName' -P 3306 -u '$userName' -p'$passWord' '$dbName' -e '\
CREATE TABLE IF NOT EXISTS itemsordered (\
customerid char(5),orderdate date, item varchar(30), quantity int(4), price decimal(7,2)) \
'

mysql: [Warning] Using a password on the command line interface can be insecure.
ERROR 2005 (HY000): Unknown MySQL server host '$hostName' (0)
mysql: [Warning] Using a password on the command line interface can be insecure.
ERROR 2005 (HY000): Unknown MySQL server host '$hostName' (0)

In [ ]:
#NOTE SECURITY WARNING
#Passing passwords in the command line is inherently risky and SHOULD NOT BE USED for any non-trivial work
#---------------------------------------------------------------------
!mysql -h '$hostName' -P 3306 -u '$userName' -p'$passWord' '$dbName' -e 'show tables'

mysql: [Warning] Using a password on the command line interface can be insecure.
ERROR 2005 (HY000): Unknown MySQL server host '$hostName' (0)

## Load Tables with Load Command <br>
In general this will NOT work because of authorisation issues

In [ ]:
# Download two CSV files from G-Drive into the Colab VM
!gdown https://drive.google.com/uc?id=1WxuruueFwMTjmPb-DvvVnGYB78Ty4OkP
!gdown https://drive.google.com/uc?id=1j49sqYHv0UoskVJDzNObWxECFF7ySsld

Access denied with the following error:

 	Cannot retrieve the public link of the file. You may need to change
	the permission to 'Anyone with the link', or have had many accesses.

You may still be able to access the file from the browser:

	 https://drive.google.com/uc?id=1WxuruueFwMTjmPb-DvvVnGYB78Ty4OkP

Access denied with the following error:

 	Cannot retrieve the public link of the file. You may need to change
	the permission to 'Anyone with the link', or have had many accesses.

You may still be able to access the file from the browser:

	 https://drive.google.com/uc?id=1j49sqYHv0UoskVJDzNObWxECFF7ySsld

In [ ]:
!ls

CustomersSQL2.csv  OrdersSQL2.csv  sample_data

In [ ]:
#NOTE SECURITY WARNING
#Passing passwords in the command line is inherently risky and SHOULD NOT BE USED for any non-trivial work
#---------------------------------------------------------------------
!mysql  -h '$hostName' -P 3306 -u '$userName' -p'$passWord' '$dbName' -e "   \
LOAD DATA LOCAL INFILE 'SQLCourse2 - ItemsOrdered.csv' \
ignore \
INTO  TABLE itemsordered  \
FIELDS TERMINATED BY ',' enclosed by '\"' LINES TERMINATED BY '\r\n' IGNORE 1 LINES  \
(customerid,@orderdate, item, quantity, price) \
set orderdate = STR_TO_DATE(@orderdate,'%d-%b-%Y');\
"

mysql: [Warning] Using a password on the command line interface can be insecure.
ERROR 2005 (HY000): Unknown MySQL server host '$hostName' (0)

## Load Table with PhP MyAdmin

CSV file can be uploaded  using the import command of the PhP MyAdmin function <br>
However for this, the files have to 'cleaned up'

In [ ]:
!mysql -h '$hostName' -P 3306 -u '$userName' -p'$passWord' '$dbName' -e 'select * from customers;'

mysql: [Warning] Using a password on the command line interface can be insecure.
ERROR 2005 (HY000): Unknown MySQL server host '$hostName' (0)

In [ ]:
import pandas as pd
from datetime import datetime

In [ ]:
dfItems = pd.read_csv('SQLCourse2 - ItemsOrdered.csv')
dfItems.head()

FileNotFoundError: ignored

In [ ]:
# The order_date is changed to the proper MySQL format
dfItems['order_date'] = dfItems['order_date'].apply(lambda s: datetime.strptime(s,'%d-%b-%Y').strftime("%Y-%m-%d"))
dfItems.head()

In [ ]:
#convert modified dataframe to csv file for PhP MyAdmin Use
dfItems.to_csv('rItemsOrders.csv', index=False, header=False)

In [ ]:
# In this case, no date conversion is required, only header removed
dfCustomers = pd.read_csv('SQLCourse2 - Customers.csv')
dfCustomers.to_csv('rCustomers.csv', index=False, header=False)

# Pythons Functions for SQL commands

In [ ]:
!apt install libmysqlclient-dev > /dev/null
!pip install mysqlclient > /dev/null
import pandas as pd
import MySQLdb

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [ ]:
#To run any non-SELECT SQL command
def runCMD (loc, DDL):
    if loc == 'remoteDB':
        DBConn = MySQLdb.connect(hostName,userName,passWord,dbName)
    elif loc == 'localDB':
        DBConn = MySQLdb.connect(db='praxisDB')
    else :
        print('location must be "remoteDB or "localDB"')
    
    myCursor = DBConn.cursor()
    retcode = myCursor.execute(DDL) 
    print (retcode)
    DBConn.commit()
    DBConn.close()

#To run any SELECT SQL command
def runSELECT (loc, CMD):
    if loc == 'remoteDB':
        DBConn = MySQLdb.connect(hostName,userName,passWord,dbName)
    elif loc == 'localDB':
        DBConn = MySQLdb.connect(db='praxisDB')
    else :
        print('location must be "remoteDB or "localDB"')
    
    df_mysql = pd.read_sql(CMD, con=DBConn)    
    DBConn.close()
    return df_mysql

## Test SQL calls from Python

In [ ]:
# Set the location to whichever Database you need to access
#
# --------------------------------
#
location = 'localDB'
#location = 'remoteDB'

SELECT STATEMENT

In [ ]:

runSELECT(location,'select * from itemsordered')

   customerid   orderdate                 item  quantity   price
0       10330  1999-06-30           Pogo stick         1   28.00
1       10101  1999-06-30                 Raft         1   58.00
2       10298  1999-07-01           Skateboard         1   33.00
3       10101  1999-07-01            Life Vest         4  125.00
4       10299  1999-07-06            Parachute         1  999.99
5       10339  1999-07-27             Umbrella         1    4.50
6       10449  1999-08-13             Unicycle         1  180.79
7       10439  1999-08-14            Ski Poles         2   25.50
8       10101  1999-08-18            Rain Coat         1   18.30
9       10449  1999-09-01           Snow Shoes         1   45.00
10      10439  1999-09-18                 Tent         1   88.00
11      10298  1999-09-19              Lantern         2   29.00
12      10410  1999-10-28         Sleeping Bag         1   89.22
13      10438  1999-11-01             Umbrella         1    6.75
14      10438  1999-11-02               Pillow         1    8.50
15      10298  1999-12-01               Helmet         1   22.00
16      10449  1999-12-15              Bicycle         1  380.50
17      10449  1999-12-22                Canoe         1  280.00
18      10101  1999-12-30           Hoola Hoop         3   14.75
19      10330  2000-01-01           Flashlight         4   28.00
20      10101  2000-01-02              Lantern         1   16.00
21      10299  2000-01-18  Inflatable Mattress         1   38.00
22      10438  2000-01-18                 Tent         1   79.99
23      10413  2000-01-19            Lawnchair         4   32.00
24      10410  2000-01-30             Unicycle         1  192.50
25      10315  2000-02-02              Compass         1    8.00
26      10449  2000-02-29           Flashlight         1    4.50
27      10101  2000-03-08         Sleeping Bag         2   88.70
28      10298  2000-03-18         Pocket Knife         1   22.38
29      10449  2000-03-19         Canoe paddle         2   40.00
30      10298  2000-04-01            Ear Muffs         1   12.50
31      10330  2000-04-19               Shovel         1   16.75

In [ ]:
!mysql praxisDB -e 'SELECT customerid, item, price FROM itemsordered WHERE customerid=10438;'

+------------+----------+-------+
| customerid | item     | price |
+------------+----------+-------+
| 10438      | Umbrella |  6.75 |
| 10438      | Pillow   |  8.50 |
| 10438      | Tent     | 79.99 |
+------------+----------+-------+

In [ ]:
!mysql praxisDB -e 'SELECT * FROM itemsordered WHERE item = "Ear Muffs";'

+------------+------------+-----------+----------+-------+
| customerid | orderdate  | item      | quantity | price |
+------------+------------+-----------+----------+-------+
| 10298      | 2000-04-01 | Ear Muffs |        1 | 12.50 |
+------------+------------+-----------+----------+-------+

In [ ]:
!mysql praxisDB -e 'SELECT DISTINCT item FROM itemsordered;'

+---------------------+
| item                |
+---------------------+
| Pogo stick          |
| Raft                |
| Skateboard          |
| Life Vest           |
| Parachute           |
| Umbrella            |
| Unicycle            |
| Ski Poles           |
| Rain Coat           |
| Snow Shoes          |
| Tent                |
| Lantern             |
| Sleeping Bag        |
| Pillow              |
| Helmet              |
| Bicycle             |
| Canoe               |
| Hoola Hoop          |
| Flashlight          |
| Inflatable Mattress |
| Lawnchair           |
| Compass             |
| Pocket Knife        |
| Canoe paddle        |
| Ear Muffs           |
| Shovel              |
+---------------------+

In [ ]:
!mysql praxisDB -e 'SELECT customerid, orderdate,item,price From itemsordered Where item Like "S%";'

+------------+------------+--------------+-------+
| customerid | orderdate  | item         | price |
+------------+------------+--------------+-------+
| 10298      | 1999-07-01 | Skateboard   | 33.00 |
| 10439      | 1999-08-14 | Ski Poles    | 25.50 |
| 10449      | 1999-09-01 | Snow Shoes   | 45.00 |
| 10410      | 1999-10-28 | Sleeping Bag | 89.22 |
| 10101      | 2000-03-08 | Sleeping Bag | 88.70 |
| 10330      | 2000-04-19 | Shovel       | 16.75 |
+------------+------------+--------------+-------+

In [ ]:
!mysql praxisDB -e 'SELECT Max(price) From itemsordered'

+------------+
| Max(price) |
+------------+
|     999.99 |
+------------+

In [ ]:
!mysql praxisDB -e 'SELECT Avg(Price) From itemsordered Where orderdate Like "2000-04-19"'

+------------+
| Avg(Price) |
+------------+
|  16.750000 |
+------------+

In [ ]:
!mysql praxisDB -e 'SELECT count(*) From itemsordered'

+----------+
| count(*) |
+----------+
|       32 |
+----------+

In [ ]:
!mysql praxisDB -e 'SELECT MIN(price) From itemsordered Where item="Tent"'

+------------+
| MIN(price) |
+------------+
|      79.99 |
+------------+

GROUP BY STATEMENT

In [ ]:
!mysql praxisDB -e 'SELECT item,MAX(price),MIN(price) From itemsordered GROUP BY item'

+---------------------+------------+------------+
| item                | MAX(price) | MIN(price) |
+---------------------+------------+------------+
| Bicycle             |     380.50 |     380.50 |
| Canoe               |     280.00 |     280.00 |
| Canoe paddle        |      40.00 |      40.00 |
| Compass             |       8.00 |       8.00 |
| Ear Muffs           |      12.50 |      12.50 |
| Flashlight          |      28.00 |       4.50 |
| Helmet              |      22.00 |      22.00 |
| Hoola Hoop          |      14.75 |      14.75 |
| Inflatable Mattress |      38.00 |      38.00 |
| Lantern             |      29.00 |      16.00 |
| Lawnchair           |      32.00 |      32.00 |
| Life Vest           |     125.00 |     125.00 |
| Parachute           |     999.99 |     999.99 |
| Pillow              |       8.50 |       8.50 |
| Pocket Knife        |      22.38 |      22.38 |
| Pogo stick          |      28.00 |      28.00 |
| Raft                |      58.00 |      58.00 |
| Rain Coat           |      18.30 |      18.30 |
| Shovel              |      16.75 |      16.75 |
| Skateboard          |      33.00 |      33.00 |
| Ski Poles           |      25.50 |      25.50 |
| Sleeping Bag        |      89.22 |      88.70 |
| Snow Shoes          |      45.00 |      45.00 |
| Tent                |      88.00 |      79.99 |
| Umbrella            |       6.75 |       4.50 |
| Unicycle            |     192.50 |     180.79 |
+---------------------+------------+------------+

In [ ]:
!mysql praxisDB -e 'Select customerid,Count(item),Sum(price) From itemsordered Group by customerid'

+------------+-------------+------------+
| customerid | Count(item) | Sum(price) |
+------------+-------------+------------+
| 10101      |           6 |     320.75 |
| 10298      |           5 |     118.88 |
| 10299      |           2 |    1037.99 |
| 10315      |           1 |       8.00 |
| 10330      |           3 |      72.75 |
| 10339      |           1 |       4.50 |
| 10410      |           2 |     281.72 |
| 10413      |           1 |      32.00 |
| 10438      |           3 |      95.24 |
| 10439      |           2 |     113.50 |
| 10449      |           6 |     930.79 |
+------------+-------------+------------+

In [ ]:
!mysql praxisDB -e 'Select State, Count(State) From customers Group By State'

+----------------+--------------+
| State          | Count(State) |
+----------------+--------------+
| Arizona        |            6 |
| Colorado       |            2 |
| Hawaii         |            1 |
| Idaho          |            1 |
| North Carolina |            1 |
| Oregon         |            2 |
| South Carolina |            1 |
| Washington     |            2 |
| Wisconsin      |            1 |
+----------------+--------------+



---HAVING CLAUSE

In [ ]:
runSELECT(location,'select * from customers')

   customerid firstname  lastname          city           state
0       10101      John      Gray        Lynden      Washington
1       10298     Leroy     Brown       Pinetop         Arizona
2       10299     Elroy    Keller    Snoqualmie      Washington
3       10315      Lisa     Jones       Oshkosh       Wisconsin
4       10325    Ginger   Schultz     Pocatello           Idaho
5       10329     Kelly   Mendoza        Kailua          Hawaii
6       10330     Shawn    Dalton  Cannon Beach          Oregon
7       10338   Michael    Howell     Tillamook          Oregon
8       10339   Anthony   Sanchez       Winslow         Arizona
9       10408     Elroy   Cleaver         Globe         Arizona
10      10410  Mary Ann    Howell    Charleston  South Carolina
11      10413    Donald    Davids     Gila Bend         Arizona
12      10419     Linda  Sakahara       Nogales         Arizona
13      10429     Sarah    Graham    Greensboro  North Carolina
14      10438     Kevin     Smith       Durango        Colorado
15      10439    Conrad     Giles     Telluride        Colorado
16      10449   Isabela     Moore          Yuma         Arizona

In [ ]:
!mysql praxisDB -e 'Select State, Count(State) From customers Group By State Having Count(State)>1'

+------------+--------------+
| State      | Count(State) |
+------------+--------------+
| Arizona    |            6 |
| Colorado   |            2 |
| Oregon     |            2 |
| Washington |            2 |
+------------+--------------+

In [ ]:
!mysql praxisDB -e 'Select * From itemsordered'

+------------+------------+---------------------+----------+--------+
| customerid | orderdate  | item                | quantity | price  |
+------------+------------+---------------------+----------+--------+
| 10330      | 1999-06-30 | Pogo stick          |        1 |  28.00 |
| 10101      | 1999-06-30 | Raft                |        1 |  58.00 |
| 10298      | 1999-07-01 | Skateboard          |        1 |  33.00 |
| 10101      | 1999-07-01 | Life Vest           |        4 | 125.00 |
| 10299      | 1999-07-06 | Parachute           |        1 | 999.99 |
| 10339      | 1999-07-27 | Umbrella            |        1 |   4.50 |
| 10449      | 1999-08-13 | Unicycle            |        1 | 180.79 |
| 10439      | 1999-08-14 | Ski Poles           |        2 |  25.50 |
| 10101      | 1999-08-18 | Rain Coat           |        1 |  18.30 |
| 10449      | 1999-09-01 | Snow Shoes          |        1 |  45.00 |
| 10439      | 1999-09-18 | Tent                |        1 |  88.00 |
| 10298      | 1999-09-19 | Lantern             |        2 |  29.00 |
| 10410      | 1999-10-28 | Sleeping Bag        |        1 |  89.22 |
| 10438      | 1999-11-01 | Umbrella            |        1 |   6.75 |
| 10438      | 1999-11-02 | Pillow              |        1 |   8.50 |
| 10298      | 1999-12-01 | Helmet              |        1 |  22.00 |
| 10449      | 1999-12-15 | Bicycle             |        1 | 380.50 |
| 10449      | 1999-12-22 | Canoe               |        1 | 280.00 |
| 10101      | 1999-12-30 | Hoola Hoop          |        3 |  14.75 |
| 10330      | 2000-01-01 | Flashlight          |        4 |  28.00 |
| 10101      | 2000-01-02 | Lantern             |        1 |  16.00 |
| 10299      | 2000-01-18 | Inflatable Mattress |        1 |  38.00 |
| 10438      | 2000-01-18 | Tent                |        1 |  79.99 |
| 10413      | 2000-01-19 | Lawnchair           |        4 |  32.00 |
| 10410      | 2000-01-30 | Unicycle            |        1 | 192.50 |
| 10315      | 2000-02-02 | Compass             |        1 |   8.00 |
| 10449      | 2000-02-29 | Flashlight          |        1 |   4.50 |
| 10101      | 2000-03-08 | Sleeping Bag        |        2 |  88.70 |
| 10298      | 2000-03-18 | Pocket Knife        |        1 |  22.38 |
| 10449      | 2000-03-19 | Canoe paddle        |        2 |  40.00 |
| 10298      | 2000-04-01 | Ear Muffs           |        1 |  12.50 |
| 10330      | 2000-04-19 | Shovel              |        1 |  16.75 |
+------------+------------+---------------------+----------+--------+

In [ ]:
!mysql praxisDB -e 'Select item ,MAX(price),MIN(price) From itemsordered Group By item Having MAX(price)>88.00'

+--------------+------------+------------+
| item         | MAX(price) | MIN(price) |
+--------------+------------+------------+
| Bicycle      |     380.50 |     380.50 |
| Canoe        |     280.00 |     280.00 |
| Life Vest    |     125.00 |     125.00 |
| Parachute    |     999.99 |     999.99 |
| Sleeping Bag |      89.22 |      88.70 |
| Unicycle     |     192.50 |     180.79 |
+--------------+------------+------------+

In [ ]:
!mysql praxisDB -e 'Select customerid, SUM(price) From itemsordered GROUP BY customerid Having COUNT(customerid) >1'

+------------+------------+
| customerid | SUM(price) |
+------------+------------+
| 10101      |     320.75 |
| 10298      |     118.88 |
| 10299      |    1037.99 |
| 10330      |      72.75 |
| 10410      |     281.72 |
| 10438      |      95.24 |
| 10439      |     113.50 |
| 10449      |     930.79 |
+------------+------------+

ORDER BY STATEMENT

In [ ]:
!mysql praxisDB -e 'SELECT * From customers'

+------------+-----------+----------+--------------+----------------+
| customerid | firstname | lastname | city         | state          |
+------------+-----------+----------+--------------+----------------+
| 10101      | John      | Gray     | Lynden       | Washington     |
| 10298      | Leroy     | Brown    | Pinetop      | Arizona        |
| 10299      | Elroy     | Keller   | Snoqualmie   | Washington     |
| 10315      | Lisa      | Jones    | Oshkosh      | Wisconsin      |
| 10325      | Ginger    | Schultz  | Pocatello    | Idaho          |
| 10329      | Kelly     | Mendoza  | Kailua       | Hawaii         |
| 10330      | Shawn     | Dalton   | Cannon Beach | Oregon         |
| 10338      | Michael   | Howell   | Tillamook    | Oregon         |
| 10339      | Anthony   | Sanchez  | Winslow      | Arizona        |
| 10408      | Elroy     | Cleaver  | Globe        | Arizona        |
| 10410      | Mary Ann  | Howell   | Charleston   | South Carolina |
| 10413      | Donald    | Davids   | Gila Bend    | Arizona        |
| 10419      | Linda     | Sakahara | Nogales      | Arizona        |
| 10429      | Sarah     | Graham   | Greensboro   | North Carolina |
| 10438      | Kevin     | Smith    | Durango      | Colorado       |
| 10439      | Conrad    | Giles    | Telluride    | Colorado       |
| 10449      | Isabela   | Moore    | Yuma         | Arizona        |
+------------+-----------+----------+--------------+----------------+

In [ ]:
!mysql praxisDB -e 'SELECT firstname , lastname , city From customers ORDER BY lastname'

+-----------+----------+--------------+
| firstname | lastname | city         |
+-----------+----------+--------------+
| Leroy     | Brown    | Pinetop      |
| Elroy     | Cleaver  | Globe        |
| Shawn     | Dalton   | Cannon Beach |
| Donald    | Davids   | Gila Bend    |
| Conrad    | Giles    | Telluride    |
| Sarah     | Graham   | Greensboro   |
| John      | Gray     | Lynden       |
| Michael   | Howell   | Tillamook    |
| Mary Ann  | Howell   | Charleston   |
| Lisa      | Jones    | Oshkosh      |
| Elroy     | Keller   | Snoqualmie   |
| Kelly     | Mendoza  | Kailua       |
| Isabela   | Moore    | Yuma         |
| Linda     | Sakahara | Nogales      |
| Anthony   | Sanchez  | Winslow      |
| Ginger    | Schultz  | Pocatello    |
| Kevin     | Smith    | Durango      |
+-----------+----------+--------------+

In [ ]:
!mysql praxisDB -e 'SELECT firstname , lastname , city From customers ORDER BY lastname DESC'

+-----------+----------+--------------+
| firstname | lastname | city         |
+-----------+----------+--------------+
| Kevin     | Smith    | Durango      |
| Ginger    | Schultz  | Pocatello    |
| Anthony   | Sanchez  | Winslow      |
| Linda     | Sakahara | Nogales      |
| Isabela   | Moore    | Yuma         |
| Kelly     | Mendoza  | Kailua       |
| Elroy     | Keller   | Snoqualmie   |
| Lisa      | Jones    | Oshkosh      |
| Michael   | Howell   | Tillamook    |
| Mary Ann  | Howell   | Charleston   |
| John      | Gray     | Lynden       |
| Sarah     | Graham   | Greensboro   |
| Conrad    | Giles    | Telluride    |
| Donald    | Davids   | Gila Bend    |
| Shawn     | Dalton   | Cannon Beach |
| Elroy     | Cleaver  | Globe        |
| Leroy     | Brown    | Pinetop      |
+-----------+----------+--------------+

In [ ]:
!mysql praxisDB -e 'SELECT item, price FROM itemsordered WHERE price > 10.00 ORDER BY price ASC';

+---------------------+--------+
| item                | price  |
+---------------------+--------+
| Ear Muffs           |  12.50 |
| Hoola Hoop          |  14.75 |
| Lantern             |  16.00 |
| Shovel              |  16.75 |
| Rain Coat           |  18.30 |
| Helmet              |  22.00 |
| Pocket Knife        |  22.38 |
| Ski Poles           |  25.50 |
| Pogo stick          |  28.00 |
| Flashlight          |  28.00 |
| Lantern             |  29.00 |
| Lawnchair           |  32.00 |
| Skateboard          |  33.00 |
| Inflatable Mattress |  38.00 |
| Canoe paddle        |  40.00 |
| Snow Shoes          |  45.00 |
| Raft                |  58.00 |
| Tent                |  79.99 |
| Tent                |  88.00 |
| Sleeping Bag        |  88.70 |
| Sleeping Bag        |  89.22 |
| Life Vest           | 125.00 |
| Unicycle            | 180.79 |
| Unicycle            | 192.50 |
| Canoe               | 280.00 |
| Bicycle             | 380.50 |
| Parachute           | 999.99 |
+---------------------+--------+

COMBINING CONDITIONS AND BOOLEAN OPERATORS

In [ ]:
!mysql praxisDB -e 'SELECT customerid, orderdate,item From itemsordered WHERE item <> "Snow shoes" AND item <>"Tent"'

+------------+------------+---------------------+
| customerid | orderdate  | item                |
+------------+------------+---------------------+
| 10330      | 1999-06-30 | Pogo stick          |
| 10101      | 1999-06-30 | Raft                |
| 10298      | 1999-07-01 | Skateboard          |
| 10101      | 1999-07-01 | Life Vest           |
| 10299      | 1999-07-06 | Parachute           |
| 10339      | 1999-07-27 | Umbrella            |
| 10449      | 1999-08-13 | Unicycle            |
| 10439      | 1999-08-14 | Ski Poles           |
| 10101      | 1999-08-18 | Rain Coat           |
| 10298      | 1999-09-19 | Lantern             |
| 10410      | 1999-10-28 | Sleeping Bag        |
| 10438      | 1999-11-01 | Umbrella            |
| 10438      | 1999-11-02 | Pillow              |
| 10298      | 1999-12-01 | Helmet              |
| 10449      | 1999-12-15 | Bicycle             |
| 10449      | 1999-12-22 | Canoe               |
| 10101      | 1999-12-30 | Hoola Hoop          |
| 10330      | 2000-01-01 | Flashlight          |
| 10101      | 2000-01-02 | Lantern             |
| 10299      | 2000-01-18 | Inflatable Mattress |
| 10413      | 2000-01-19 | Lawnchair           |
| 10410      | 2000-01-30 | Unicycle            |
| 10315      | 2000-02-02 | Compass             |
| 10449      | 2000-02-29 | Flashlight          |
| 10101      | 2000-03-08 | Sleeping Bag        |
| 10298      | 2000-03-18 | Pocket Knife        |
| 10449      | 2000-03-19 | Canoe paddle        |
| 10298      | 2000-04-01 | Ear Muffs           |
| 10330      | 2000-04-19 | Shovel              |
+------------+------------+---------------------+

In [ ]:
!mysql praxisDB -e 'SELECT item , price From itemsordered WHERE (item LIKE "C%") OR (item LIKE "S%") OR (item LIKE "F%")'

+--------------+--------+
| item         | price  |
+--------------+--------+
| Skateboard   |  33.00 |
| Ski Poles    |  25.50 |
| Snow Shoes   |  45.00 |
| Sleeping Bag |  89.22 |
| Canoe        | 280.00 |
| Flashlight   |  28.00 |
| Compass      |   8.00 |
| Flashlight   |   4.50 |
| Sleeping Bag |  88.70 |
| Canoe paddle |  40.00 |
| Shovel       |  16.75 |
+--------------+--------+

IN & BETWEEN STATEMENTS

In [ ]:
!mysql praxisDB -e 'SELECT orderdate, item, price From itemsordered Where price BETWEEN 20 AND 60'

+------------+---------------------+-------+
| orderdate  | item                | price |
+------------+---------------------+-------+
| 1999-06-30 | Pogo stick          | 28.00 |
| 1999-06-30 | Raft                | 58.00 |
| 1999-07-01 | Skateboard          | 33.00 |
| 1999-08-14 | Ski Poles           | 25.50 |
| 1999-09-01 | Snow Shoes          | 45.00 |
| 1999-09-19 | Lantern             | 29.00 |
| 1999-12-01 | Helmet              | 22.00 |
| 2000-01-01 | Flashlight          | 28.00 |
| 2000-01-18 | Inflatable Mattress | 38.00 |
| 2000-01-19 | Lawnchair           | 32.00 |
| 2000-03-18 | Pocket Knife        | 22.38 |
| 2000-03-19 | Canoe paddle        | 40.00 |
+------------+---------------------+-------+

In [ ]:
!mysql praxisDB -e 'SELECT firstname, city, state FROM customers WHERE state IN ("Idaho","Hawaii","South Carolina")'

+-----------+------------+----------------+
| firstname | city       | state          |
+-----------+------------+----------------+
| Ginger    | Pocatello  | Idaho          |
| Kelly     | Kailua     | Hawaii         |
| Mary Ann  | Charleston | South Carolina |
+-----------+------------+----------------+

MATHEMATICAL FUNCTIONS STATEMENT

In [ ]:
!mysql praxisDB -e 'SELECT * From itemsordered'

+------------+------------+---------------------+----------+--------+
| customerid | orderdate  | item                | quantity | price  |
+------------+------------+---------------------+----------+--------+
| 10330      | 1999-06-30 | Pogo stick          |        1 |  28.00 |
| 10101      | 1999-06-30 | Raft                |        1 |  58.00 |
| 10298      | 1999-07-01 | Skateboard          |        1 |  33.00 |
| 10101      | 1999-07-01 | Life Vest           |        4 | 125.00 |
| 10299      | 1999-07-06 | Parachute           |        1 | 999.99 |
| 10339      | 1999-07-27 | Umbrella            |        1 |   4.50 |
| 10449      | 1999-08-13 | Unicycle            |        1 | 180.79 |
| 10439      | 1999-08-14 | Ski Poles           |        2 |  25.50 |
| 10101      | 1999-08-18 | Rain Coat           |        1 |  18.30 |
| 10449      | 1999-09-01 | Snow Shoes          |        1 |  45.00 |
| 10439      | 1999-09-18 | Tent                |        1 |  88.00 |
| 10298      | 1999-09-19 | Lantern             |        2 |  29.00 |
| 10410      | 1999-10-28 | Sleeping Bag        |        1 |  89.22 |
| 10438      | 1999-11-01 | Umbrella            |        1 |   6.75 |
| 10438      | 1999-11-02 | Pillow              |        1 |   8.50 |
| 10298      | 1999-12-01 | Helmet              |        1 |  22.00 |
| 10449      | 1999-12-15 | Bicycle             |        1 | 380.50 |
| 10449      | 1999-12-22 | Canoe               |        1 | 280.00 |
| 10101      | 1999-12-30 | Hoola Hoop          |        3 |  14.75 |
| 10330      | 2000-01-01 | Flashlight          |        4 |  28.00 |
| 10101      | 2000-01-02 | Lantern             |        1 |  16.00 |
| 10299      | 2000-01-18 | Inflatable Mattress |        1 |  38.00 |
| 10438      | 2000-01-18 | Tent                |        1 |  79.99 |
| 10413      | 2000-01-19 | Lawnchair           |        4 |  32.00 |
| 10410      | 2000-01-30 | Unicycle            |        1 | 192.50 |
| 10315      | 2000-02-02 | Compass             |        1 |   8.00 |
| 10449      | 2000-02-29 | Flashlight          |        1 |   4.50 |
| 10101      | 2000-03-08 | Sleeping Bag        |        2 |  88.70 |
| 10298      | 2000-03-18 | Pocket Knife        |        1 |  22.38 |
| 10449      | 2000-03-19 | Canoe paddle        |        2 |  40.00 |
| 10298      | 2000-04-01 | Ear Muffs           |        1 |  12.50 |
| 10330      | 2000-04-19 | Shovel              |        1 |  16.75 |
+------------+------------+---------------------+----------+--------+

MATHEMATICAL FUNCTIONS

In [ ]:
!mysql praxisDB -e 'SELECT item, SUM(price)/SUM(quantity) From itemsordered GROUP BY item'

+---------------------+--------------------------+
| item                | SUM(price)/SUM(quantity) |
+---------------------+--------------------------+
| Bicycle             |               380.500000 |
| Canoe               |               280.000000 |
| Canoe paddle        |                20.000000 |
| Compass             |                 8.000000 |
| Ear Muffs           |                12.500000 |
| Flashlight          |                 6.500000 |
| Helmet              |                22.000000 |
| Hoola Hoop          |                 4.916667 |
| Inflatable Mattress |                38.000000 |
| Lantern             |                15.000000 |
| Lawnchair           |                 8.000000 |
| Life Vest           |                31.250000 |
| Parachute           |               999.990000 |
| Pillow              |                 8.500000 |
| Pocket Knife        |                22.380000 |
| Pogo stick          |                28.000000 |
| Raft                |                58.000000 |
| Rain Coat           |                18.300000 |
| Shovel              |                16.750000 |
| Skateboard          |                33.000000 |
| Ski Poles           |                12.750000 |
| Sleeping Bag        |                59.306667 |
| Snow Shoes          |                45.000000 |
| Tent                |                83.995000 |
| Umbrella            |                 5.625000 |
| Unicycle            |               186.645000 |
+---------------------+--------------------------+

TABLE JOINS STATEMENT

In [ ]:
!mysql praxisDB -e 'SELECT* From customers'

+------------+-----------+----------+--------------+----------------+
| customerid | firstname | lastname | city         | state          |
+------------+-----------+----------+--------------+----------------+
| 10101      | John      | Gray     | Lynden       | Washington     |
| 10298      | Leroy     | Brown    | Pinetop      | Arizona        |
| 10299      | Elroy     | Keller   | Snoqualmie   | Washington     |
| 10315      | Lisa      | Jones    | Oshkosh      | Wisconsin      |
| 10325      | Ginger    | Schultz  | Pocatello    | Idaho          |
| 10329      | Kelly     | Mendoza  | Kailua       | Hawaii         |
| 10330      | Shawn     | Dalton   | Cannon Beach | Oregon         |
| 10338      | Michael   | Howell   | Tillamook    | Oregon         |
| 10339      | Anthony   | Sanchez  | Winslow      | Arizona        |
| 10408      | Elroy     | Cleaver  | Globe        | Arizona        |
| 10410      | Mary Ann  | Howell   | Charleston   | South Carolina |
| 10413      | Donald    | Davids   | Gila Bend    | Arizona        |
| 10419      | Linda     | Sakahara | Nogales      | Arizona        |
| 10429      | Sarah     | Graham   | Greensboro   | North Carolina |
| 10438      | Kevin     | Smith    | Durango      | Colorado       |
| 10439      | Conrad    | Giles    | Telluride    | Colorado       |
| 10449      | Isabela   | Moore    | Yuma         | Arizona        |
+------------+-----------+----------+--------------+----------------+

In [ ]:
!mysql praxisDB -e 'SELECT customers.customerid, customers.firstname, customers.lastname, itemsordered.orderdate, itemsordered.item, itemsordered.price FROM customers, itemsordered WHERE customers.customerid = itemsordered.customerid'

+------------+-----------+----------+------------+---------------------+--------+
| customerid | firstname | lastname | orderdate  | item                | price  |
+------------+-----------+----------+------------+---------------------+--------+
| 10330      | Shawn     | Dalton   | 1999-06-30 | Pogo stick          |  28.00 |
| 10101      | John      | Gray     | 1999-06-30 | Raft                |  58.00 |
| 10298      | Leroy     | Brown    | 1999-07-01 | Skateboard          |  33.00 |
| 10101      | John      | Gray     | 1999-07-01 | Life Vest           | 125.00 |
| 10299      | Elroy     | Keller   | 1999-07-06 | Parachute           | 999.99 |
| 10339      | Anthony   | Sanchez  | 1999-07-27 | Umbrella            |   4.50 |
| 10449      | Isabela   | Moore    | 1999-08-13 | Unicycle            | 180.79 |
| 10439      | Conrad    | Giles    | 1999-08-14 | Ski Poles           |  25.50 |
| 10101      | John      | Gray     | 1999-08-18 | Rain Coat           |  18.30 |
| 10449      | Isabela   | Moore    | 1999-09-01 | Snow Shoes          |  45.00 |
| 10439      | Conrad    | Giles    | 1999-09-18 | Tent                |  88.00 |
| 10298      | Leroy     | Brown    | 1999-09-19 | Lantern             |  29.00 |
| 10410      | Mary Ann  | Howell   | 1999-10-28 | Sleeping Bag        |  89.22 |
| 10438      | Kevin     | Smith    | 1999-11-01 | Umbrella            |   6.75 |
| 10438      | Kevin     | Smith    | 1999-11-02 | Pillow              |   8.50 |
| 10298      | Leroy     | Brown    | 1999-12-01 | Helmet              |  22.00 |
| 10449      | Isabela   | Moore    | 1999-12-15 | Bicycle             | 380.50 |
| 10449      | Isabela   | Moore    | 1999-12-22 | Canoe               | 280.00 |
| 10101      | John      | Gray     | 1999-12-30 | Hoola Hoop          |  14.75 |
| 10330      | Shawn     | Dalton   | 2000-01-01 | Flashlight          |  28.00 |
| 10101      | John      | Gray     | 2000-01-02 | Lantern             |  16.00 |
| 10299      | Elroy     | Keller   | 2000-01-18 | Inflatable Mattress |  38.00 |
| 10438      | Kevin     | Smith    | 2000-01-18 | Tent                |  79.99 |
| 10413      | Donald    | Davids   | 2000-01-19 | Lawnchair           |  32.00 |
| 10410      | Mary Ann  | Howell   | 2000-01-30 | Unicycle            | 192.50 |
| 10315      | Lisa      | Jones    | 2000-02-02 | Compass             |   8.00 |
| 10449      | Isabela   | Moore    | 2000-02-29 | Flashlight          |   4.50 |
| 10101      | John      | Gray     | 2000-03-08 | Sleeping Bag        |  88.70 |
| 10298      | Leroy     | Brown    | 2000-03-18 | Pocket Knife        |  22.38 |
| 10449      | Isabela   | Moore    | 2000-03-19 | Canoe paddle        |  40.00 |
| 10298      | Leroy     | Brown    | 2000-04-01 | Ear Muffs           |  12.50 |
| 10330      | Shawn     | Dalton   | 2000-04-19 | Shovel              |  16.75 |
+------------+-----------+----------+------------+---------------------+--------+

In [ ]:
!mysql praxisDB -e 'SELECT customers.customerid, customers.firstname, customers.state, itemsordered.item From customers, itemsordered Where customers.customerid=itemsordered.customerid ORDER BY customers.state DESC'

+------------+-----------+----------------+---------------------+
| customerid | firstname | state          | item                |
+------------+-----------+----------------+---------------------+
| 10315      | Lisa      | Wisconsin      | Compass             |
| 10101      | John      | Washington     | Life Vest           |
| 10299      | Elroy     | Washington     | Parachute           |
| 10101      | John      | Washington     | Lantern             |
| 10101      | John      | Washington     | Raft                |
| 10101      | John      | Washington     | Sleeping Bag        |
| 10101      | John      | Washington     | Rain Coat           |
| 10299      | Elroy     | Washington     | Inflatable Mattress |
| 10101      | John      | Washington     | Hoola Hoop          |
| 10410      | Mary Ann  | South Carolina | Unicycle            |
| 10410      | Mary Ann  | South Carolina | Sleeping Bag        |
| 10330      | Shawn     | Oregon         | Flashlight          |
| 10330      | Shawn     | Oregon         | Pogo stick          |
| 10330      | Shawn     | Oregon         | Shovel              |
| 10438      | Kevin     | Colorado       | Umbrella            |
| 10439      | Conrad    | Colorado       | Tent                |
| 10439      | Conrad    | Colorado       | Ski Poles           |
| 10438      | Kevin     | Colorado       | Pillow              |
| 10438      | Kevin     | Colorado       | Tent                |
| 10449      | Isabela   | Arizona        | Bicycle             |
| 10449      | Isabela   | Arizona        | Canoe paddle        |
| 10449      | Isabela   | Arizona        | Flashlight          |
| 10413      | Donald    | Arizona        | Lawnchair           |
| 10449      | Isabela   | Arizona        | Canoe               |
| 10298      | Leroy     | Arizona        | Ear Muffs           |
| 10298      | Leroy     | Arizona        | Lantern             |
| 10339      | Anthony   | Arizona        | Umbrella            |
| 10298      | Leroy     | Arizona        | Skateboard          |
| 10298      | Leroy     | Arizona        | Helmet              |
| 10298      | Leroy     | Arizona        | Pocket Knife        |
| 10449      | Isabela   | Arizona        | Snow Shoes          |
| 10449      | Isabela   | Arizona        | Unicycle            |
+------------+-----------+----------------+---------------------+